
body{
	padding: 0;
	margin: 0;
}



nav{

	background-image: url(photosSurf/go-eco.jpg);
	background-repeat: no-repeat;
	background-position: 2%;
	margin:0;
}


nav ul{

	padding-left:800px;
	padding-bottom: 30px;
	padding-top: 25px;
	margin:0;
	word-spacing: 15px;
	font-family: Oswald;
	color:black;
	

}

nav ul li {

	position: relative;
	display: inline-block;
	margin-left:0;
	padding:0;

}




a:link {
	text-decoration: none;
}

a:visited {
	color:black;
}

a:hover{
	color:#2D44FF;
}